.post-modal-background {
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 64, 64, 90%);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-modal-container {
    width: 78%;
    height: 93%;
    border-radius: 0 5px 5px 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.post-modal-image {
    float: left;
    width: 56%;
    margin: 0;
}

.post-modal-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.post-modal-right-part {
    height: 100%;
    width: 44%;
}

.post-modal-close-btn {
    display: flex;
    justify-content: flex-end;
    height: 25%;
}

.post-modal-close-btn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.post-modal-user-container {
    width: 100%;
    height: 20%;
}

.post-modal-user {
    height: 75%;
}

.post-modal-user-image {
    height: 100%;
    width: 20%;
    float: left;
}

.post-modal-user-image img {
    display: block;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin-top: 10%;
    margin-left: 10%;
}

.post-modal-user-caption {
    width: 79%;
    height: 100%;
    float: right;
;
}

.post-modal-comments {
    overflow: auto;
    height: 66%;
}

.post-modal-user-caption p {
    margin: auto 0 auto 0;
    text-align: left;
}

.post-modal-user-nickname {
    font-weight: bold;
}

.post-modal-user-text {
    font-size: 0.9rem;
    height: 70%;
    overflow: auto;
}

.post-modal-like-button {
    margin-left: 5px;
}