.comment-form-wrapper {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.comment-form-textarea {
    resize: none;
    height:2.11rem;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    font-size: 1rem;
    font-family: sans-serif;

}

.comment-form-button {
    height:2.5rem;
    width: 6rem;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1rem;
    background-color: black;
    color: white;
}

.comment-form-button:hover {
    background-color: #54a0ff;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
    border: #54a0ff;
}

.comment-form-button:active {
    background-color: #074ca3;
    transition: background-color 0.1s linear;
}

.comment-form-button:disabled {
    pointer-events: none;
}