.comments {
    border-top: 1px solid;
}

.comment {
    display: flex;
}

.comment-image-container {
    align-items: flex-start;
}

.comment-right-part {
    margin-left: 10px;
    text-align: left;
}

.comment-content {
    height: max-content;
    margin-bottom: 10px;
}

.comment-author {
    font-weight: bold;
}

.comment-image-container img {
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.comment-actions {
    font-size: 0.7rem;
    height: 10px;
}
.comment-action {
    float: left;
    margin: 0 6px 0 0;
}
.comment-text {
    overflow-wrap: anywhere;
}

.replies {
    display: inline-block;
}