/*!* src/components/Header/Header.css *!*/

.logo{
    margin-left: 20px;
    height: 60px;
    width: 60px;
    padding-right: 30px;
    border-right: 2px solid black;
}

.title{
    margin-left: 30px;
    color: #444950;
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
    font-weight: bolder;
}

.header-line{
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: 2px solid black;
}